{% extends 'JAB_Main/index/base_index.html' %}

{% block content %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
              <li><a href="{% url 'jobs' %}">Jobs</a></li>
              <li><a href="{% url 'cl_main' job_case.id %}"> Cover Letter ({{ job_case.company }} / {{ job_case.position }})</a></li>
              <li></li>
            </ol>
          </div>
        </div>
      </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="cl_main_container">
            <div class="cl_main_full">
                <b>Company:</b> {{ job_case.company }}
                <br/>
                <b>Position:</b> {{ job_case.position }}
                <br/>
                <br/>
                <b>Job Description:</b> <br/>
                {{ job_case.description|linebreaks }}
                <br/>
                <br/>
            </div>
        </div>
        <div class="cl_main_container">
            <div class="cl_main_left">
                <div class="cl_main_top">
                    <h4>Cover Letter Questionnaire</h4>
                    <div>
                        <br/>
                        {% include 'JAB_Main/cl_main_update_include.html' %}
                    </div>
                    <br/>
                    <h4>Custom Questionnaire</h4>
                    <a href="{% url 'questionnaire_add' job_case.id %}">Add Question</a> 
                    <div>
                        {% include 'JAB_Main/cl_main_questionnaire_include.html' %}
                    </div>
                </div>
                <div class="cl_main_bottom">
                    <h4>Cover Letter Final</h4>
                    <div>
                        <br/>
                        {% include 'JAB_Main/cl_main_edit_text_include.html' %}
                    </div>
                </div>
                <br/>
                <div>
                    <a href="{% url 'cl_proofread' cl_case.id  %}">Proofread Cover Letter</a> 
                </div>
            </div>
            <div class="cl_main_right">
                <h4>References</h4>
                <div class="cl_main_reference_top">
                    <h4>Projects</h4>
                    {% for reference_project_case in reference_project_cases %}
                        <div class="card">
                            <div class="card-header">
                                Title: {{ reference_project_case.reference_title }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <ul>
                                        <li>Company: {{ reference_project_case.reference_company }}</li>
                                        <li>Problem Statement: {{ reference_project_case.reference_problem_statement }}</li>
                                        <li>Solution: {{ reference_project_case.reference_solution }}</li>
                                        <li>Results: {{ reference_project_case.reference_results }}</li>
                                        <li>Skills: {{ reference_project_case.reference_skills }}</li>
                                        <li>Links: {{ reference_project_case.reference_links }}</li>
                                    </ul>
                                </p>
                                <a href="{% url 'project_main' reference_project_case.id %}">Main</a>  
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="cl_main_reference_mid">
                    <h4>Previous Cover Letters</h4>
                    <div>
                        <br/>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form_job_case.case_select.label_tag }}
                            {{ form_job_case.case_select }}
                            <input type="submit" value="Show">
                        </form>
                        <div>
                            {% if selected_job_case %}
                            <p>{{ selected_job_case.cover_letters_job.text|linebreaks }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="cl_main_reference_bottom">
                    <h4>Notes</h4>
                    <div>
                        <br/>
                        {% include 'JAB_Main/cl_main_edit_reference_notes_include.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="cl_main_container">
            <div class="cl_main_full">
                <h4>ChatGPT Assitance</h4>
                {% if member.openai_enable %}
                    <p>Fill the above Cover Letter Questionnaire as best as you can to have great result!</p><br/>
                    <p><a href="{% url 'openai_cover_letter' job_case.id %}">ChatGPT Cover Letter</a> (Open in a new tab, this could take 15 sec approx.)!</p>
                {% else %}
                    <p><a href="{% url 'openai_main' %}">Set API Key in ChatGPT-Settings</a></p>
                {% endif %}
            </div>
        </div>
    </section>
    

{% endblock %}