{% extends 'JAB_Main/index/base_index.html' %}

{% block content %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
              <li><a href="{% url 'jobs' %}">Jobs</a></li>
              <li><a href="{% url 'cl_main' job_case.id %}"> Cover Letter ({{ job_case.company }} / {{ job_case.position }})</a></li>
              <li><a href="{% url 'cl_proofread' cl_case.id  %}"> Proofread</a></li>
              <li></li>
            </ol>
          </div>
        </div>
      </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="cl_main_container">
            <div class="cl_main_full">
                <b>Job Description:</b> <br/>
                {{ job_case.description|linebreaks }}
            </div>
        </div>
        <div class="cl_proofread_container">
            <div class="cl_proofread_left">
                <h4>Proofread</h4>
                <div>
                    <br/>
                    {% include 'JAB_Main/cl_proofread_main_include.html' %}
                </div>
                <div>
                    <br/>
                    {% include 'JAB_Main/cl_proofread_company_include.html' %}
                </div>
                <div>
                    <b>Cover Letter</b><br/>
                    <div>
                        {% include 'JAB_Main/cl_main_edit_text_include.html' %}
                    </div>
                </div>
                <br/>
                <div>
                    <a href="{% url 'cl_download' cl_case.id  %}">Download Cover Letter</a> 
                </div>
                <br/>
            </div>
            <div class="cl_proofread_right">
                <h4>Checklist</h4>
                <ul>
                    <li>Keywords Included</li>
                    <li>Brief Self Introuction</li>
                    <li>Motivation Showed</li>
                    <li>Limited Techical Jargon</li>   
                    <li>No Template Generic Content</li>
                    <li>No ChatGPT Generic Content</li>
                    <li>Subject Added</li>
                    <li>Address Added</li>
                    <li>No Madeup Experience</li>
                    <li>Availability Stated</li>
                    <li>Proper Salutation</li>   
                </ul>   
            </div>
        </div>
    </section>

{% endblock %}