{% load static %}
{% include 'JAB_Main/utils/html_init.html' %}
{% include 'JAB_Main/index/index_head.html' %}
<body class="is-boxed has-animations">
    {% include 'JAB_Main/navbar.html' %}
    <div class="body-wrap boxed-container">
        <main class="main-background">
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Job Application Bestie</h1>
	                        <p class="hero-paragraph">Craft personalized Cover Letters & Resumes, and secure more interviews. Beat AI both in quality and speed. No Credit Card or Email required.</p>
	                        <div class="hero-cta">
								<a class="button button-primary" href="{% url 'register_user' %}">Register For Free</a>
							</div>
						</div>
                        <div class="gif-container">
                            <img class="navbar-brand" src="{% static 'images/saas-logo.svg' %}" alt="Logo" style="max-width: 100%;"/>
						</div>
                    </div>
                </div>
            </section>
        </main>

        {% include 'JAB_Main/index/index_footer.html' %}
    </div>
    {% include 'JAB_Main/cookie_banner.html' %}
    {% include 'JAB_Main/index/index_bottom_scripts.html' %}
</body>
{% include 'JAB_Main/utils/html_exit.html' %}


