{% extends 'JAB_Main/base_index.html' %}
{% load static %}
{% block content %}

    <div class="body-wrap boxed-container">
        <main class="main-background">
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Job Application Bestie</h1>
                            <p class="hero-paragraph">Craft personalized Cover Letters & Resumes, and secure more interviews. Beat AI both in quality and speed. No Credit Card or Email required.</p>
                            <div class="hero-cta">
                                <a class="button button-primary" href="{% url 'register_user' %}">Register For Free</a>
                            </div>
                        </div>
                        <div class="gif-container">
                            <img class="navbar-brand" src="{% static 'images/saas-logo.svg' %}" alt="Logo" style="max-width: 100%;"/>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
