{% extends 'JAB_Main/base.html' %}

{% block content %}
    <div class="job_main_container">
        <p><a href="{% url 'jobs' %}">Jobs</a> &gt; <a href="{% url 'job_main' job_case.id %}"> Cover Letter ({{ job_case.company }} / {{ job_case.position }})</a> &gt;</p>
    </div>
    <div>
        <b>Company:</b> {{ job_case.company }}
        <br/>
        <b>Position:</b> {{ job_case.position }}
        <br/>
        <br/>
        <b>Description:</b> <br/>
        {{ job_case.description }}
        <br/>
        <br/>
    </div>
    <div class="job_main_container">
        <div class="job_main_left">
            Cover Letter
            <a href="{% url 'cl_add' job_case.id %}">Add Cover Letter</a>
            <br/>
            {% for cl in cl_cases %}
                <div>
                    {{ cl.text }}
                    <a href="{% url 'cl_update' cl.id %}">Edit</a> 
                    <a href="{% url 'cl_delete' cl.id  %}">Permanent Delete Cover Letter</a> 
                    <a href="{% url 'cl_download' cl.id  %}">Download Cover Letter</a> 
                </div>
            {% endfor %}
        </div>
        <div class="job_main_right">
            References
        </div>
    </div>

{% endblock %}