{% extends 'JAB_Main/base.html' %}

{% block content %}
    <div class="jobs_container">
        <p>Navigation: <a href="{% url 'jobs' %}">Jobs</a> &gt;</p>
    </div>
    <div class="jobs_container">
        <div class="jobs_left">
            <h4>Daily Sources</h4>
            <a href="{% url 'source_add' %}">Add Source</a> 
            <ul>
                {% for source in sources_base %}
                    <li><a href="{{ source }}">{{ source }}></a></li>
                {% endfor %}
                {% for source in sources_user %}
                    <li>
                        <a href="{{ source.link }}">{{ source.link }}</a>
                        <a href="{% url 'source_update' source.id %}">Edit</a> 
                        <a href="{% url 'source_delete' source.id  %}">Permanent Delete Source</a> 
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="jobs_right">
            <h4>Jobs</h4>
            <a href="{% url 'job_add' %}">Add Job</a>
            <table>
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Company</th>
                        <th>Position</th>
                        <th>URL</th>
                        <th>Cover Letter</th>
                        <th>Resume (Coming Soon)</th>
                        <th>Date Posted</th>
                        <th>Eligibility Confirm</th>
                        <th>Priority</th>
                        <th>Acceptance Chance</th>
                        <th>Documents Preptime Estimate</th>
                        <th>Application Sent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_all %}
                    <tr>
                        <td>
                            <a href="{% url 'job_update' job.id %}">Edit</a> 
                            <a href="{% url 'job_delete' job.id %}">Permanent Delete Job</a>
                        </td>
                        <td>{{ job.company }}</td>
                        <td>{{ job.position }}</td>
                        <td>
                            <a href="{{ job.URL }}">{{ job.URL }}</a>
                        </td>
                        <td>
                            <a href="{% url 'cl_main' job.id %}">Cover Letter Builder</a> 
                        </td>
                        <td>
                            <a href="">Resume Builder</a>
                        </td>
                        <td>{{ job.date_posted }}</td>
                        <td>{{ job.eligible_pre_check_good_idea }}</td>
                        <td>{{ job.priority }}</td>
                        <td>{{ job.acceptance_chance_feeling }}</td>
                        <td>{{ job.documents_prep_time_feeling }}</td>
                        <td>{{ job.application_sent_done }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
            {% if job_all.has_previous %}
                <a href="?page=1">&laquo First</a>
                <a href="?page={{ job_all.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ job_all.number }} of {{ job_all.paginator.num_pages }}

            {% if job_all.has_next %}
                <a href="?page={{ job_all.next_page_number }}">Next</a>
                <a href="?page={{ job_all.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
             
            
        </div>
    </div>
    

{% endblock %}