{% load static %}
<style>
  .bg-violet-ish {
    background-color: #5C44B6;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-violet-ish">
    <div class="container-fluid">
      {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'home' %}">Job Application Bestie</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="navbar-brand" src="{% static 'images/logo-light4.svg' %}" alt="Logo">
        </a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'jobs' %}" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'references_main' %}" style="color: white;">References</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'openai_main' %}" style="color: white;">ChatGPT-Settings</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout_user' %}" style="color: white;">Logout</a>
            </li>
          {% else %}
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">FAQ</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login_user' %}" style="color: white;">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>     


    </div>
  </nav>