{% extends 'JAB_Main/index/base_index.html' %}

{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
        <ol>
            <li><a href="{% url 'references_main' %}">References</a></li>
            <li><a href="{% url 'project_main' project_case.id %}"> Project ({{ project_case.reference_title }})</a></li>
            <li></li>
        </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs Section -->
<section class="inner-page">
    <div class="cl_main_container">
        <div class="references_main_full">
            <h4>{{ project_case.reference_title }}</h4>
            <div>
                <br/>
                {% include 'JAB_Main/project_main_project_include.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}