{% extends 'JAB_Main/index/base_index.html' %}

{% block content %}
<section class="inner-page"><br/><br/>
            <div>
                <h1>Terms and Conditions</h1>
            </div>
        
            <div>
                <h2>1. Acceptance of Terms</h2>
                <p>By using this website and its services, you agree to comply with and be bound by the following terms and conditions. If you do not agree to these terms, please do not use the website.</p>
        
                <h2>2. Use of the Website</h2>
                <p>You agree to use this website only for lawful purposes and in a manner that does not infringe upon the rights of others or inhibit their use and enjoyment of the website.</p>
        
                <h2>3. Intellectual Property</h2>
                <p>All content on this website, including text, graphics, logos, images, and software, is the property of [Your Company Name] and is protected by applicable intellectual property laws.</p>
        
                <h2>4. Privacy Policy</h2>
                <p>Your use of this website is also governed by our Privacy Policy, which can be found here at <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.</p>
        
                <h2>5. Limitation of Liability</h2>
                <p>Website owner shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your use of the website.</p>
        
                <h2>6. Changes to Terms and Conditions</h2>
                <p>We reserve the right to modify these terms and conditions at any time. Any changes will be effective immediately upon posting on the website. Your continued use of the website after any changes are made constitutes your acceptance of the updated terms and conditions.</p>
        
                <h2>7. Contact Information</h2>
                <p>If you have any questions or concerns about these terms and conditions, please contact us at: rohan.rathore93@gmail.com</p>
                
                <h2>7. Last Updated</h2>
                <p>01-Oct-2023</p>
            </div>
</section>
{% endblock %}