<!-- {% load static %}
{% include 'JAB_Main/utils/html_init.html' %}
{% include 'JAB_Main/index/index_head.html' %}
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container"> -->
        <footer class="site-footer has-top-divider">
            <div class="container">
                <div class="site-footer-inner">
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="https://github.com/rohancode/Job-Application-Bestie">Source Code</a>
                        </li>
                        <li>
                            <a href="mailto:rohan.rathore93@gmail.com">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Data Security</a>
                        </li>
                    </ul>
                    <div class="footer-copyright">A Hobby Project 🤗</div>
                </div>
            </div>
        </footer>
    <!-- </div>
    {% include 'JAB_Main/index/index_bottom_scripts.html' %}
</body>

{% include 'JAB_Main/utils/html_exit.html' %} -->


